/* GLOBAL FONT FAMILY IMPORT LINK START  */
@import url("https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova:wght@100;200;300;400;500;600;700&display=swap");


/* CUSTOM PROPS CSS START  */
:root {
    --primary-color: #0361b4;
    --text-color: #fff;
}

/* GLOBAL CSS START  */
* {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

*,
*::after,
*::before {
    box-sizing:inherit;
}

*:focus {
    outline: 2px dashed #500950;
    outline-offset: 3px;
}

html {
    height: 100%;
    box-sizing:border-box;
    scroll-behavior: smooth;
}

body {
    display: flex;
    justify-self: center;
    align-items: center;
    height: 100%;
    padding: 0;
    margin: 0;
    font-size: 16px;
    line-height: 1.5;
    min-height: 100vh;
    font-family: "Ibarra Real Nova", "Arial", sans-serif;
    background: linear-gradient(-45deg, #000428, #0361b4);
}

img {
    max-width: 100%;
    height: auto;
}


/* SITE HEADING VISUALLY HIDDEN CSS STATR  */
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
  

/* CONTAINER CSS START  */
.container {
    width: 100%;
    max-width: 500px;
    padding: 20px;
    border-radius: 15px;
    position: absolute;
    top: 200px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding-left: 50px;
    padding-right: 50px;
    box-shadow: 0 0 18px #eee;
    background: linear-gradient(-45deg, #440334, #a103c0, #ec38bc, #e26ec1);
  }

/* SAIT MAIN CSS START  */
.site-main {
    flex-grow: 1;
}

/* BUTTON CSS START  */
button {
  cursor: pointer;
  font-size: 14px;
  border-radius: 4px;
  padding: 5px 15px;
  box-shadow: 0 0 18px #eee;
}

select {
  width: 200px;
  padding: 10px;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  border-radius: 5px;
  background: linear-gradient(-49deg, #2a6fd6, #0e59bb);
  color: #fff;
  letter-spacing: 4px;
  font-size: 18px;
}

.option {
  color: #000;
  font-weight: bold;
  font-size: 18px;
}

select:focus,
button:focus {
  outline: none;
}

.setting-btn {
  position: absolute;
  bottom: 50px;
  left: 50px;
  border: 0;
  padding: 10px 17px;
  background-color: rgb(4, 4, 73);
  color: #fff;
  font-size: 20px;
}

.setting {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  color: #e6d5b8;
  background-color: #8a29a3;
  background-image: linear-gradient(
    43deg,
    #f02fe0 0%,
    #aa1096 50%,
    #e730c9 100%
  );
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 18px #999;
  transform: translateY(0);
  transition: transform 0.3s ease-in-out;
}

.setting.hide {
  transform: translateY(-100%);
}


h2 {
  background-color: pink;
  padding: 8px;
  border-radius: 5px;
  margin: 0 0 40px;
  color: rgb(167, 23, 167);
}

h1 {
  margin: 0;
}

.difLabel {
  font-size: 20px;
  font-weight: bold;
  color: #fff;
  margin-right: 10px;
}

input {
  border: 3px dashed magenta;
  border-radius: 5px;
  font-size: 14px;
  width: 300px;
  padding: 12px 20px;
  margin-top: 10px;
}

input:focus {
  outline: none;
}

small {
  font-size: 16px;
  font-weight: bold;
}

.score-container {
  position: absolute;
  top: 80px;
  right: 20px;
  font-size: 25px;
  font-weight: bold;
  color: #fff;
}

.time-container {
  position: absolute;
  top: 80px;
  left: 20px;
  font-size: 25px;
  font-weight: bold;
  color: #fff;
}

.end-game-container {
  background-color: #8a29a3;
  background-image: linear-gradient(
    43deg,
    #8a29a3 0%,
    #ed6fe5 50%,
    #d50edb 100%
  );
  box-shadow: 0 0 20px #eee;
  border-radius: 5px;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  color: rgb(102, 18, 102);
}


/* BUTTON CSS START  */
.btn-grad {
  background-image: linear-gradient(
    to right,
    #da22ff 0%,
    #9733ee 51%,
    #da22ff 100%
  );
}
.btn-grad {
  margin-top: 20px;
  border: 0;
  padding: 15px 45px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  display: block;
}

.btn-grad:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}
